{% extends "base.html" %}
{% block body %}
<form method=POST action="{{ url_for('analyze') }}">
    <div class="form-group purple-border" style="padding-left:30px; padding-right: 30px; padding-top: 30px;">
        <label for="exampleFormControlTextarea1">Enter your income</label>
        <input type="number" class="form-control" name="income" placeholder=0>
    </div>
    <div class="form-group purple-border" style="padding-left:30px; padding-right: 30px; padding-top: 30px;">
        <label for="exampleFormControlTextarea1">Tell us about your most recent dream</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="answer1" rows="2", required="true"></textarea>
    </div>
    <div class="form-group purple-border" style="padding-left:30px; padding-right: 30px;">
        <label for="exampleFormControlTextarea1">When you look at the clouds, what do you see?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="answer2" rows="2", required="true"></textarea>
    </div>
    <div class="form-group purple-border" style="padding-left:30px; padding-right: 30px;">
        <label for="exampleFormControlTextarea1">How would you describe the music you have been listening to
            lately?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="answer3" rows="2", required="true"></textarea>
    </div>
    <div class="form-group purple-border" style="padding-left:30px; padding-right: 30px;">
        <label for="exampleFormControlTextarea1">Given a pen and paper, what would you draw?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="answer4" rows="2", required="true"></textarea>
    </div>
    <div class="form-group purple-border" style="padding-left:30px; padding-right: 30px;">
        <label for="exampleFormControlTextarea1">If you can possess one superpower, what would it be?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="answer5" rows="2", required="true"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left:30px; margin-bottom: 30px;">Submit answers</button>
</form>
{% endblock %}