{% extends "base.html" %}
{% block body %}
<body class="authentication-bg">
    <div class="container py-5">
        <div class="row">
            <div class="col-auto my-4 mx-auto">
                <div class="card rounded-0 special-card">
                    <div class="card-header">
                        <h3 class="mb-0">Login</h3>
                    </div>
                    <div class="card-body">
                        <form method=POST action="{{ url_for('login') }}">
                            <div class="form-group">
                                <label for="exampleInputEmail1"><strong>Username</strong></label>
                                <input type="text" class="form-control" name="username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1"><strong>Password</strong></label>
                                <input type="password" class="form-control" name="pass" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Log In</button>
                        </form>
                        {% if error %}
                            <div class="text" style="color:red">{{error}}</div>
                        {% endif %}
                        <br>
                        <div>
                            Don't have an account? <a href="{{ url_for('register') }}" style="color:blue">Sign up here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}